# Project exclude paths
/.gradle/
/build/
/build/classes/kotlin/js/main/
/build/classes/kotlin/js/test/
/build/classes/kotlin/jvm/main/
/build/classes/kotlin/jvm/test/
/build/classes/kotlin/win/main/klib/
/build/classes/kotlin/win/test/klib/